
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend_categorias {
  text-align: center;
  line-height: 1px;
  width: 59%;
  color: rgb(112, 111, 111);
}

.legend_categorias i{
  width: 18px;
  height: 18px;
  border-radius: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend_description {
  line-height: 1px;
  width: 86%;
  color: rgb(112, 111, 111);
}

.title_legend{
  text-align: center !important;
  margin-bottom: 1.5rem;
}

.preload {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(54, 55, 56);

}

.logo img{
  width: 460px;
  height: 110px;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-frame {
  width: 70px;
  height: 70%;
  margin: auto;
  position: absolute;
  top: 57%;
  left: 50%;
}

.loader1, .loader2{
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}

.loader1 {
  width: 50px;
  height: 50px;
  border-top: 5px solid azure;
  border-bottom: 5px solid azure;
  animation: clockwisespin 1.5s linear infinite;
}


.loader2 {
  width: 40px;
  height: 40px;
  border-left: 5px  solid darkturquoise;
  border-right: 5px  solid darkturquoise;
  top: 5px;
  left: 5px;
  animation: anticlockwisespin 1.5s linear infinite;
}


.float{
	position:fixed;
	width:60px;
  font-size: 20px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #0C9;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.btn {
  font-weight: bold;
  background-color: #0C9;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  padding: 4px 12px;
}
.btn:hover{
  background-color: #0C9999;
  transition: 1s ease;
  cursor: pointer;
}

.modal{
  border-radius: 10px;
  flex-direction: column;
}

@keyframes clockwisespin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@keyframes anticlockwisespin {
  from { transform: rotate(0deg);}
  to { transform: rotate(-360deg);}
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 40%;
  left: 40%;
  width: 20%;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.modal h1 {
  color: #521751;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.modal-input {
  margin: 2.5rem 0;
}

.picker-input{
  border-radius: 10px;
  text-align: center;
  outline: none;
  height: 30px;
  font-size: 1.3rem;
  border: 2px solid #09c;
}


.modal-input textarea {
  width: 100%;
  font: inherit;
  resize: none;
}

.modal-input textarea:focus {
  outline: none;
  background: #ffdbfe;
  border-color: #521751;
}

.modal-actions {
  text-align: right;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.modal-title{
  text-align: center;
}

/* creating css loader */

.loading-response {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #00CC99;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
  margin-bottom: 2rem;
  z-index: 10000;
}
.loading-response.display {
  display: block;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}