body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: center;
  line-height: 1px;
  width: 100%;
  color: rgb(112, 111, 111);
}

.legend i{
  width: 18px;
  height: 18px;
  border-radius: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}